<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115987009104-t7q14f4qi7k4j6srlq4s7adhmqf7fokn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115987009104-t7q14f4qi7k4j6srlq4s7adhmqf7fokn</string>
	<key>API_KEY</key>
	<string>AIzaSyA-k9fl_JkwIp9uuAvq8LkZt3l2sNC3hSM</string>
	<key>GCM_SENDER_ID</key>
	<string>115987009104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.partnerUp</string>
	<key>PROJECT_ID</key>
	<string>partner-up-app</string>
	<key>STORAGE_BUCKET</key>
	<string>partner-up-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115987009104:ios:b7f3c5386a2376e750cb55</string>
</dict>
</plist>